{% extends 'base.html.twig' %}

{% block title %}
     {{app.user.firstname}} {{app.user.name}}
{% endblock %}


{% block body %}
    

    <section class="section">

        {% include 'flash.html.twig' %}

            <h2 class="light-purple">Bonjour {{ app.user.firstname }} !</h2>
            <a href="{{ path('app_profile_edit') }}"style="text-decoration: underline;"> Modifier votre profil </a>
            
            <div class="card col-11 col-sm-4 box-shadow m-2">
                <img src="{{ asset('/uploads/users/' ~ app.user.picture) }}" alt="{{app.user.firstName}}">

                <div class="card-body">
                    <h5 class="card-title m-0">
                        {{ app.user.firstname }} {{ app.user.name }} 
    
                    </h5>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center">
                        {{ app.user.email }} 
                    </li>
                    <li class="list-group-item text-center">
                        {{ app.user.phoneNumber }}
                    </li>
                    <li class="list-group-item text-center">
                        {{ app.user.address }} {{ app.user.city }} {{ app.user.postalCode }} {{ app.user.country }}
                    </li>
                    <li class="list-group-item text-center">
                        <a href="{{path('app_orders_history')}}"> Mes commandes </a>
                    </li>
                    <li class="list-group-item text-center">
                        <a href="{{ path('app_profile_password_edit') }}"> <u> Modifier mon mot de passe </u> </a>
                    </li>
                    <li class="list-group-item text-center">
                        <a href="{{ path('app_profile_delete') }}" onclick="return confirm('Souhaitez vous vraiment supprimer votre compte ?')"> <u> Supprimer mon compte </u> </a>
                    </li>
                </ul>
            </div>
        
            

    </section>
   

{% endblock %}


{# <a href={{path("app_forgot_password_request")}} class="btn btn-lg btn-danger" >Mot de passe oublié</a> #}