{% extends 'base.html.twig' %}

{% block title %}
    Profil de l'utilisateur!
{% endblock %}


{% block body %}
    {% include 'flash.html.twig' %}
    
{# 
    <img src="{{ asset('/uploads/users/' ~ app.user.picture) }}" class="card-img-top" alt="{{app.user.firstName}}">
    {{ app.user.firstname }}
    {{ app.user.name }}                 
    {{ app.user.address }}                   
    {{ app.user.postalCode }}          
    {{ app.user.email }}         
    {{ app.user.phoneNumber }} #}

    <section class="section">

            <h3 class="text-center">Bonjour {{ app.user.firstname }}, voici votre profil !</h2>
            <a href="{{ path('app_profile_edit') }}"style="text-decoration: underline;"> Modifier votre profil </a>
            
            <div class="card m-2">
                <img src="{{ asset('/uploads/users/' ~ app.user.picture) }}" alt="{{app.user.firstName}}">

                <div class="card-body">
                    <h5 class="card-title">
                    
                        {{ app.user.firstname }} {{ app.user.name }} 
                    </h5>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center">
                        {{ app.user.email }} 
                    </li>
                    <li class="list-group-item text-center">
                        {{ app.user.phoneNumber }}
                    </li>
                    <li class="list-group-item text-center">
                        {{ app.user.address }} {{ app.user.city }} {{ app.user.postalCode }} {{ app.user.country }}
                    </li>
                    <li class="list-group-item text-center">
                        <a href=""> Mes commandes </a>
                    </li>
                    <li class="list-group-item text-center">
                        <a href="{{ path('app_profile_password_edit') }}"> Modifier mon mot de passe </a>
                    </li>
                </ul>
            </div>
        
            <a href="{{ path('app_profile_delete') }}" class="text-light btn btn-dark"> Supprimer mon compte </a>

    </section>
   

{% endblock %}


{# <a href={{path("app_forgot_password_request")}} class="btn btn-lg btn-danger" >Mot de passe oublié</a> #}