 {% extends 'base.html.twig' %}

{% form_theme ChangePasswordForm 'bootstrap_5_layout.html.twig' %}

{% block body %}

    <section class="section">

    <h1 class="mb-4 light-purple"> Modifier votre mot de passe</h1>

        {{ form_start(ChangePasswordForm, { 'attr': {'class': 'col-5 box-shadow', 'novalidate': 'novalidate'} }) }}

            {{ form_row(ChangePasswordForm.oldPassword, {'row_attr': {'class': 'form-purple mb-4'} }) }}
            {{ form_row(ChangePasswordForm.password, {'row_attr': {'class': 'form-purple mb-4'} }) }} {# je peux mettre du style directement dans ma vue #}
            {{ form_row(ChangePasswordForm._token, {'row_attr': {'class': 'form-purple mb-4'} }) }}

            <button type="submit" class="btn-modalAdd"> Modifier </button>

        {{ form_end(ChangePasswordForm, {render_rest: false}) }}	
        {# render_rest false fait en sorte que les champs non écrits dans cette page ne s'afficheront pas dans ma page modify profile même si UserType a d'autres champs #}

    </section>

{% endblock %}