{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}

<section class="section mt-0">
    
     {{ include('flash.html.twig') }}

    <h2 class="py-4 dark-purple">Votre panier</h2>
    
    {% if cartItems is not empty and cartItems.id is not empty %}   
        <div class="col-sm-5 col-11">
            <table>
                <thead>
                    <tr>
                        {# <th>Id</th> #}
                        <th>Article</th>
                        <th>Image</th>
                        <th>Quantité</th>
                        <th>Action</th>
                        <th>Prix</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in 0..(cartItems.id|length - 1) %}
                        <tr>
                        {# <td> {{ cartItems.id[i] }} </td> #}
                        <td> {{ cartItems.name[i] }} </td>
                        <td> <img style="width:50px" src="{{ asset('uploads/products/' ~ cartItems.picture[i]) }}" alt="Image de {{ cartItems.text[i]}}"> </td>
                        <td> {{ cartItems.stock[i] }} </td> 
                        <td>
                            <form method="post" action="{{ path('app_cart_remove', {'idProduct': cartItems.id[i]}) }}" class="d-flex justify-content-center">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cartItems.id[i]) }}">
                                <button class="btn-remove">Supprimer l'article</button>
                            </form>
                        </td>
                        <td> {{ cartItems.price[i] }} € </td>
                        </tr>  
                    {% endfor %}
                </tbody>
            </table>

            <div class="cart-total">
                Total: <span>{{ cartTotal }} €</span>
            </div>
 
            <form action="{{path('app_stripe_checkout')}}" method="POST" class="text-end pt-2">
                <input type="submit" name="payer" value="Payer" class="btn dark-purple box-shadow p-2">
            </form>

            <a href="{{ path('app_cart_delete')}}" class="btn dark-purple box-shadow p-2"> Vider le panier </a>
        </div>

    {% else %}
        <p>Votre panier est vide.</p>
    {% endif %}    

</section>


{% endblock %}
