{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div id="banner">
        <h1> CRÉATIONS EN COTON <br> FAITES À LA MAIN </h1>
        <p> Réalisées en Provence </p>
        <div id="collection"> Nouvelle collection chaque mois </div>
    </div>

    <section class="section bg-beige">

        <div id="news" class="pt-3">           
            <h2 class="pt-5"> LES NOUVEAUTÉS </h2>
            <p> Découvrez notre toute nouvelle collection,<br> à la fois rafraichissante et authentique pour illuminer vos journées ! </p>
        </div>


        <div class="container justify-content-center m-3">

            {% for product in newProducts %}
            <div class="product-card"> 
                <div class="img-container">   
                    <img src="{{ asset('/uploads/products/' ~ product.picture) }}" alt="{{product.text}}" title="{{product.name}}">
                        <div class="quick-view">  
                            <button class="btn-preview" type="button" data-bs-toggle="modal" data-bs-target="#quickViewModal-{{ product.id }}"> Aperçu rapide </button>
                        </div>
                </div>    

                <span class="type"> Pièce unique </span>
                <h5> {{ product.name }} </h5>
                <div class="trait"> </div>
                <span class="price"> {{ product.price }}€</span>

                {% if product.stock > 0 %}
                    <form action="{{ path('app_cart_add', {'idProduct': product.id}) }}" method="POST">
                        <input type="submit" class="btn-add" value="Ajouter au panier" />
                    </form>
                 {% else %}
                    <button class="btn-no-stock" disabled> Rupture de stock </button>
                {% endif %}

            </div>

            <!-- Modal -->
                <div class="modal fade" id="quickViewModal-{{ product.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                        <div class="modal-header border-0">
                            <button type="button" class="btn-close p-0" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body d-flex p-4">
                            <div class="modal-img"> 
                                <img src="{{ asset('/uploads/products/' ~ product.picture) }}" alt="{{product.text}}" title="{{product.name}}">
                            </div>

                            <div class="modal-infos">
                                <div>
                                    <h2 class="modal-title pt-0"> {{ product.name}} </h2>
                                </div>
                        
                                <p> {{ product.price }}€ </p>
                                <p> {{ product.text | raw  }} </p>
                                
                               
                                <div>
                                    {% if product.stock > 0 %}
                                       <form action="{{ path('app_cart_add', {'idProduct': product.id}) }}" method="POST">
                                            Quantité :
                                            <select name="quantity" class="form-purple col-12 mb-3">
                                                {% for i in 1..product.stock %}
                                                    <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                            <input type="submit" class="btn-modalAdd col-3 mb-2" value="Ajouter au panier" />
                                        </form>
                                    {% else %}
                                        <button class="btn-modalNoStock" disabled> Rupture de stock </button>
                                    {% endif %}

                                    
                                    <a href="{{ path('app_product_show', { id : product.id} ) }}" class="fs-6"> <u> Voir plus de détails </u> </a>                                    
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
            
        <a href="{{ path('app_product_index') }}" class="discover"> Découvrir </a>
    </section>



    <section class="section">

        <div id="header-categories">
            <h2> LES CRÉATIONS </h2>
            <span> Embellissez votre quotidien avec douceur.</span>
        </div>

        <div class="container justify-content-center">

             {% for category in categories %}
                <div class="category-card">
                    
                    <div class="d-flex justify-content-center">
                        <img src="{{ asset('/uploads/categories/' ~ category.picture) }}" alt="{{category.description}}" title="{{category.title}}">
                    </div>

                    <div>
                        <h4 class> {{category.title}} </h3>
                        <p> {{category.description }} </p> 
                        <a class="btn-see" href="{{ path('app_get_product_by_category', {id_category : category.id}) }}"> Voir tout </a>
                    </div>
                </div>
            {% endfor %}    

        </div>

    </section>



    <section class="section p-0 border-purple">
        
        <div id="header-contact">
            <h2> VOS PROJETS </h2>
            <span> Confectionnez avec nous un accessoire à votre image.</span>
        </div>

        <div class="container justify-content-center">
            <p> Vous avez une idée précise en tête ? Nos créations en coton sont personnalisables ! <br> Pour un cadeau, un événement spécial ou tout simplement avoir un accessoire qui vous ressemble, nous sommes là pour faire naître vos idées. </p>
        </div>
			
    </section>



    <section class="section bg-beige">

        <div id="header-comments">
            <h2> AVIS </h2>
            <span>Ce que vous en avez pensé : </span>
        </div>

        <div class="container justify-content-center py-0 px-2 py-sm-3 my-3">
            {% for comment in comments %}
                <div class="comment-card m-2 m-sm-3">

                    <div class="comment-head">
                        <div>
                            {% if comment.user.picture is empty %}
                                <img src="{{ asset('noPicture.png')}}" alt="Photo de profil par défaut" height="50px" width="50px" style="border-radius : 50%;"> 
                            {% else %}
                                <img src="{{ asset('/uploads/users/' ~ comment.user.picture) }}" alt="{{comment.user.firstName}}" height="50px" width="50px" style="border-radius : 50%;">
                            {% endif %}
                        </div>
                        
                        <div class="d-flex justify-content-between ps-3 w-100">
                            <div class="d-flex flex-column">
                                <span> <b> {{comment.user}} </b> - <i>acheteur vérifié</i> </span>
                                <span> Note : {{comment.note}}/5 </span>
                            </div>

                            <span style="text-align : end;"> {{comment.date|date("d.m.Y")}} </span>
                        </div>
                    </div>

                    <div class="pt-2">
                        {{comment.comment}}
                    </div>
                </div>
            {% endfor %}
            
        </div>
        
        <a href="{{ path('app_comment') }}" class="btn-see-more mb-4 mb-sm-5"> Voir plus </a>
    </section>


{# href="{{ path('app_product_show', { id : product.id} ) }}" #}

    {# <div class="row p-5">

        <div class="col-8 border">

            {% for product in products %}

                <div class="col-md-12">
                    <a href="{{ path('app_product_show', { id : product.id} ) }}">
                        <div class="article d-flex p-3">

                            <img class="col-md-4" src="{{ asset('/uploads/products/' ~ product.picture) }}" alt="{{product.text}}" title="{{product.name}}">
                           
                            <div class="d-flex flex-column ms-3">
                                <h3> {{ product.name }} </h3>
                                <p> {{ product.text }} </p>
                            </div>
                        </div>
                    </a>
                </div>

            {% endfor %}

            <div class="navigation">
                {{ knp_pagination_render(products) }}
            </div>

        </div>

    </div>  #}

{% endblock %}
