{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <section class="section">

        <h2> LES NOUVEAUTÉS </h2>

        <div class="container">

            {% for product in newProducts %}
            <div class="product-card"> 
                <div class="img-container">   
                    <img src="{{ asset('/uploads/products/' ~ product.picture) }}" alt="{{product.text}}" title="{{product.name}}">
                        <div class="quick-view">  
                            <button class="btn-preview" type="button" data-bs-toggle="modal" data-bs-target="#quickViewModal-{{ product.id }}"> Aperçu rapide </button>
                        </div>
                </div>    

                <span class="type"> Pièce unique </span>
                <h5> {{ product.name }} </h5>
                <div class="trait"> </div>
                <span class="price"> {{ product.price }}€</span>

                {% if product.stock > 0 %}
                    <form action="{{ path('app_cart_add', {'idProduct': product.id}) }}" method="POST">
                        <input type="submit" class="btn-add" value="Ajouter au panier" />
                    </form>
                 {% else %}
                    <button class="btn-no-stock" disabled> Rupture de stock </button>
                {% endif %}

            </div>

            <!-- Modal -->
                <div class="modal fade" id="quickViewModal-{{ product.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                        <div class="modal-header border-0">
                            <button type="button" class="btn-close p-0" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body d-flex p-4">
                            <div class="modal-img"> 
                                <img src="{{ asset('/uploads/products/' ~ product.picture) }}" alt="{{product.text}}" title="{{product.name}}">
                            </div>

                            <div class="modal-infos">
                                <div>
                                    <h2 class="modal-title pt-0"> {{ product.name}} </h2>
                                </div>
                        
                                <p> {{ product.price }}€ </p>
                                <p> {{ product.text }} </p>
                                
                               
                                <div>
                                    {% if product.stock > 0 %}
                                        <form action="{{ path('app_cart_add', {'idProduct': product.id}) }}" method="POST">
                                            <input type="submit" class="btn-modalAdd mb-2" value="Ajouter au panier" />
                                        </form>
                                    {% else %}
                                        <button class="btn-modalNoStock" disabled> Rupture de stock </button>
                                    {% endif %}

                                    
                                    <a href="{{ path('app_product_show', { id : product.id} ) }}" class="fs-6"> <u> Voir plus de détails </u> </a>                                    
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
            
        <a href="{{ path('app_product_index') }}" class="discover"> Découvrir </a>
    </section>



    <section class="section">

        <div id="header-categories">
            <h2> LES CRÉATIONS </h2>
        </div>

        <div class="container">

             {% for category in categories %}
                <div class="category-card">
                    
                    <div class="d-flex justify-content-center">
                        <img src="{{ asset('/uploads/categories/' ~ category.picture) }}" alt="{{category.description}}" title="{{category.title}}">
                    </div>

                    <div class="p-4">
                        <div class="mt-4">
                            <h4> {{category.title}} </h3>
                        </div>
                        <p> {{category.description }} </p> 
                        <a class="btn-see" href="{{ path('app_get_product_by_category', {id_category : category.id}) }}"> Voir tout </a>
                    </div>
                </div>
            {% endfor %}    

        </div>

    </section>



    <section class="section">

        <h2 class""> PERSONNALISATION </h2>



    </section>



    <section class="section">

        <h2 class""> AVIS </h2>



    </section>

{# href="{{ path('app_product_show', { id : product.id} ) }}" #}

    {# <div class="row p-5">

        <div class="col-8 border">

            {% for product in products %}

                <div class="col-md-12">
                    <a href="{{ path('app_product_show', { id : product.id} ) }}">
                        <div class="article d-flex p-3">

                            <img class="col-md-4" src="{{ asset('/uploads/products/' ~ product.picture) }}" alt="{{product.text}}" title="{{product.name}}">
                           
                            <div class="d-flex flex-column ms-3">
                                <h3> {{ product.name }} </h3>
                                <p> {{ product.text }} </p>
                            </div>
                        </div>
                    </a>
                </div>

            {% endfor %}

            <div class="navigation">
                {{ knp_pagination_render(products) }}
            </div>

        </div>

    </div>  #}

{% endblock %}
