{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block body %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

     {% include 'flash.html.twig' %}

    
    <section class="container">
    
        <h1 class="mb-5">Créer un compte</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm, { 'attr': {'class': 'row container', 'novalidate': 'novalidate'} }) }}

            <div class="row justify-content-center">
                <div class="col-4">
                    {{ form_row(registrationForm.firstName, {'attr': {'class': 'form-purple'}}) }}
                </div>
                <div class="col-4">
                    {{ form_row(registrationForm.name, {'attr': {'class': 'form-purple'}}) }}
                </div>
            </div>

            <div class="row justify-content-center"> 
                <div class="col-4">
                    {{ form_row(registrationForm.phoneNumber, {'attr': {'class': 'form-purple'}}) }}
                </div>
                <div class="col-4">
                    {{ form_row(registrationForm.address, {'attr': {'class': 'form-purple'}}) }}
                </div>
            </div>

            <div class="row justify-content-center"> 
                <div class="col-3">
                    {{ form_row(registrationForm.city, {'attr': {'class': 'form-purple'}}) }}
                </div>
                <div class="col-2">
                    {{ form_row(registrationForm.postalCode, {'attr': {'class': 'form-purple'}}) }}
                </div>
                <div class="col-3">
                    {{ form_row(registrationForm.country, {'attr': {'class': 'form-purple'}}) }}
                </div>
            </div>
            
            <div class="row justify-content-center">
                <div class="col-4">       
                    {{ form_row(registrationForm.email, {'attr': {'class': 'form-purple'}}) }}
                </div>
                <div class="col-4">
                    {{ form_row(registrationForm.password, {'attr' : {'class': 'form-purple'}}) }}
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8">
                    {{ form_row(registrationForm.picture, {'attr': {'class': 'form-purple'}}) }}
                </div>      
            </div>

            <div class="row justify-content-center">
                <div class="row justify-content-center">
                    {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'form-purple'}}) }}
                </div>      
            </div>
            
            
            <button type="submit" class="btn-modalAdd col-8">Créer mon compte</button>
                    
        {{ form_end(registrationForm) }}
    
    </section>

{% endblock %}
