{% extends 'base.html.twig' %}

{% block title %} Index product{% endblock %}

{% block body %}

    <div id="banner-products">
		<h1> Les créations de l'Atelier </h1>
	</div>

    <section class="section-products py-5 px-0 px-sm-5">

        <div class="filter" style="width: 100%;">

            <h4 class="d-none d-sm-block"> Filtrer par </h4>


            {# {% if app.request.attributes.get('_route') == 'app_product_index' %} #}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" id="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-filter="{{ filter|default('none') }}">
                        {% if filter == 'ASC' %}
                            Par prix croissant
                        {% elseif filter == 'DESC' %}
                            Par prix décroissant
                        {% else %}
                            Pas de filtre
                        {% endif %}
                    </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{path('app_product_index', { filter : 'none' })}}">Pas de filtre</a></li>
                    <li><a class="dropdown-item" href="{{path('app_product_index', { filter : 'ASC' })}}">Par prix croissant</a></li>
                    <li><a class="dropdown-item" href="{{path('app_product_index', { filter : 'DESC' })}}">Par prix décroissant</a></li>
                </ul>
            </div>
            {# {% endif %} #}
        </div>



        <div class="container-products">  

            <ul id="products-categories" class="col-2 d-none d-sm-block">

                {# <li> 
                    <a href="{{ path('app_product_index') }}"> Voir tout </a>
                </li>
                #}

                {% for category in categories %}
                    <li>
                        <a href="{{ path('app_get_product_by_category', {id_category : category.id}) }}"  id="category-link-{{ loop.index }}"> {{category.title}} </a>
                    </li>
                {% endfor %}
                
            </ul>

            <div class="products" id="list-products">

                {% if products is empty %}
                    <div>
                        Aucun résultat trouvé pour votre recherche.
                    </div>
                {% endif %}
            
                {% for product in products %}
                    <div class="products-card" data-product-id="{{ product.id }}" data-product-price="{{ product.price }}"> 
                        <a href="{{ path('app_product_show', { id : product.id} ) }}">
                            <div class="products-img-container">   
                                <img src="{{ asset('/uploads/products/' ~ product.picture) }}" alt="{{product.text}}" title="{{product.name}}">
                            </div>    

                            <span class="type"> Pièce unique </span>
                            <h5> {{ product.name }} </h5>
                            <div class="trait"> </div>
                            <span class="price"> {{ product.price }}€</span>
                            <form action="{{ path('app_cart_add', {'idProduct': product.id}) }}" method="POST">
                                <input type="submit" class="btn-add" value="Ajouter au panier" />
                            </form>
                        </a>
                    </div>
                {% endfor %}

            </div>
 
          

        </div>
   
        {# <div class="pagination">
            {{ knp_pagination_render(products) }}
        </div> #}

    </section>

{% endblock %}
