{% extends 'base.html.twig' %}

{% block title %} Index product{% endblock %}

{% block body %}
    <h1>Product index</h1>

{% include 'flash.html.twig' %}

    <section class="section-products">

    <div class="d-flex col-8">

        <ul class="m-2 products-categories col-2">
                <li class="fs-4">Filtrer par</li>
            {% for category in categories %}
                <li>
                     <a href="{{ path('app_get_product_by_category', {id_category : category.id}) }}"> {{category.title}} </a>
                </li>
            {% endfor %}         
        </ul>

            {% for product in products %}
            <div class="products-card"> 
                <div class="products-img-container">   
                    <img src="{{ asset('/uploads/products/' ~ product.picture) }}" alt="{{product.text}}" title="{{product.name}}">      
                </div>    
                <button class="btn-add" type="button"> Aperçu rapide </button>
                <span> Pièce unique </span>
                <h5> {{ product.name }} </h5>
                <div class="trait"> </div>
                <span class="price"> {{ product.price }}€</span>
                <button  class="btn-add" type="button"> Ajouter au panier </button>
            </div>

            <!-- Modal -->
                <div class="modal fade" id="quickViewModal-{{ product.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                        <div class="modal-header border-0">
                            <button type="button" class="btn-close p-0" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body d-flex">
                            <div class="modal-img p-2"> 
                                <img src="{{ asset('/uploads/products/' ~ product.picture) }}" alt="{{product.text}}" title="{{product.name}}">
                            </div>
                            <div class="p-2 d-flex flex-column justify-content-between">
                                <div>
                                    <h2 class="modal-title pt-0"> {{ product.name}} </h2>
                                </div>
                                <div>
                                    <div> {{ product.price|number_format(2, '.', ' ') }}€ </div>
                                    <div> {{ product.text }} </div>
                                </div>
                                <div>
                                    <div> 
                                        <button type="button" class="btn-modalAdd"> Ajouter au panier </button>
                                    </div>
                                    <div>
                                        <a href="{{ path('app_product_show', { id : product.id} ) }}" class="fs-6"> Voir plus de détails </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
            
            <button type="button" class="discover"> Découvrir </button>

    </section>

{% endblock %}
