{% extends 'base.html.twig' %}

{% block title %} Index product{% endblock %}

{% block body %}

    <div id="banner-products">
		<h1> Les créations de l'Atelier </h1>
	</div>

    <section class="section-products">

        <div class="filter">

            <h4> Filtrer par </h4>

            <form>
                <select class="form-select col-2" id="filter" name="filter">
                    <option selected disabled> Trier par </option>
                    <option value="asc"> Prix (bas à élevé) </option>
                    <option value="desc"> Prix (élevé à bas) </option>
                </select>
            </form>
        </div>


        <div class="container-products">  
        
            <ul id="products-categories" class="col-2">

                <li> 
                    <a href="{{ path('app_product_index') }}"> Voir tout </a>
                </li>
            

                {% for category in categories %}
                    <li>
                        <a href="{{ path('app_get_product_by_category', {id_category : category.id}) }}"  id="category-link-{{ loop.index }}"> {{category.title}} </a>
                    </li>
                {% endfor %}
                
            </ul>

            <div class="products" id="list-products">

                {% if products is empty %}
                    <div>
                        Aucun résultat trouvé pour votre recherche.
                    </div>
                {% endif %}
            
                {% for product in products %}
                    <div class="products-card"> 
                        <a href="{{ path('app_product_show', { id : product.id} ) }}">
                            <div class="products-img-container">   
                                <img src="{{ asset('/uploads/products/' ~ product.picture) }}" alt="{{product.text}}" title="{{product.name}}">
                            </div>    

                            <span class="type"> Pièce unique </span>
                            <h5> {{ product.name }} </h5>
                            <div class="trait"> </div>
                            <span class="price"> {{ product.price }}€</span>
                            <form action="{{ path('app_cart_add', {'idProduct': product.id}) }}" method="POST">
                                <input type="submit" class="btn-add" value="Ajouter au panier" />
                            </form>
                        </a>
                    </div>
                {% endfor %}
              
            </div>
 
          

        </div>
   
        <div class="pagination">
            {{ knp_pagination_render(products) }}
        </div>

    </section>

{% endblock %}
