{% extends 'base.html.twig' %}

{% block title %} {{product.name}} {% endblock %}


{% block body %}
 
  

    <section>

        <div class="m-4">
            <a class="discover" href="{{ path('app_product_index') }}">Retour</a>
        </div>

        {{ include('flash.html.twig') }}

        <div class="container">
            
            <div class="d-flex align-items-center">
                <img src="{{ asset('/uploads/products/' ~ product.picture) }}" alt="{{product.text}}" title="{{product.name}}">  
            </div>

            <div class="col-8 ps-4 m-5 d-flex flex-column justify-content-between">           
                <h2 class="pb-4"> {{ product.name}} </h2>             
                <p> {{ product.price|number_format(2, '.', ' ') }}€ </p>
                <p> {{ product.text | raw}} </p> 
                <form action="{{ path('app_cart_add', {'idProduct': product.id}) }}" method="POST">
                    <input type="submit" class="btn-add mb-2" value="Ajouter au panier" />
                </form>                                                       
            </div>                              
        </div>
    </section>


    {% if app.user and 'ROLE_ADMIN' in app.user.getroles()  %}
        

        {# <a class="btn btn-success" href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a> 
        
    
        {{ include('product/_delete_form.html.twig') }} #}

    {% endif %} 


{% endblock %}
