{% extends 'base.html.twig' %}

{% block title %} {{product.name}} {% endblock %}


{% block body %}
 
    <div class="m-4">
        <a class="discover" href="{{ path('app_product_index') }}">Retour</a>
    </div>  

    <section class="section">

        {{ include('flash.html.twig') }}

        <div class="col-8 d-flex p-5 align-items-center">
            
            <div class="d-flex align-items-center">
                <img src="{{ asset('/uploads/products/' ~ product.picture) }}" alt="{{product.text}}" title="{{product.name}}">  
            </div>

            <div class="ps-5 d-flex flex-column justify-content-between">           
                <h2 class="pb-4"> {{ product.name}} </h2>             
                <p> {{ product.price|number_format(2, '.', ' ') }}€ </p>
                <p> {{ product.text | raw}} </p> 

                <form action="{{ path('app_cart_add', {'idProduct': product.id}) }}" method="POST">
                    
                    Quantité :
                    <select name="quantity" class="form-purple col-1 mb-3">
                        {% for i in 1..product.stock %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>

                    <input type="submit" class="btn-modalAdd col-3 mb-2" value="Ajouter au panier" />
                </form>                                                       
            </div>                              
        </div>

    </section>

{% endblock %}
