{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% form_theme contactForm 'bootstrap_5_layout.html.twig' %}

{% block body %}

	<div id="banner-contact">
		<h1> NOUS CONTACTER </h1>
		<p> Si vous souhaitez une commande personnalisée ou des informations supplémentaires, <br> Contactez nous, nous sommes là pour vous répondre ! </p>
	</div>

	{# je récupère en session les messages flash si j'en ai et j'itère à l'intérieur #}
		<div class="row justify-content-center"> <div class="row col-md-8">
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
		</div>

		<section class="section">

			{{ form_start(contactForm, { 'attr': {'class': 'col-11 col-sm-5 box-shadow', 'novalidate': 'novalidate'} }) }}

				{{ form_row(contactForm.firstName, {'attr': {'class': 'form-purple mb-4'}}) }}
				{{ form_row(contactForm.name, {'attr': {'class': 'form-purple mb-4'}}) }}
				{{ form_row(contactForm.topic, {'attr': {'class': 'form-purple mb-4'}}) }}
				{{ form_row(contactForm.message, {'attr': {'class': 'form-purple mb-4'}}) }}
				{{ form_row(contactForm.email, {'attr': {'class': 'form-purple mb-4'}}) }}
				{{ form_row(contactForm.picture, {'attr': {'class': 'form-purple'}}) }}

				<button type="submit" class="btn-modalAdd mt-3">Envoyer</button>

			{{ form_end(contactForm) }}		

		</section>

{% endblock %}
