<header>
    {# bandeau de livraison ou promo #}
    <div class="delivery-banner">
        <b>Livraison France DOM TOM et UE</b> - 2 à 6 jours ouvrés (hors commande personnalisée)
    </div>

    {# logo + barre de recherche + panier #}
    <div id="header" class="d-flex flex-column flex-md-row align-items-center p-4">
        <img src="{{asset('banner.png')}}" alt="Bannière du site" class="mb-3 mb-md-0 px-5">

        <form class="d-flex mb-3 mb-md-0 px-5 w-md-auto" action="{{path('app_search_products')}}">
            <input class="form-control" type="search" name="search" placeholder="Rechercher" aria-label="Search">
        </form>

        <div class="d-flex align-items-center">
            <a href="{{path('app_cart')}}" class="cart-icon position-relative me-3">
                <svg class="px-sm-5" xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 0 448 512">
                    <path fill="#7c5f8a" d="M160 112c0-35.3 28.7-64 64-64s64 28.7 64 64v48H160V112zm-48 48H48c-26.5 0-48 21.5-48 48V416c0 53 43 96 96 96H352c53 0 96-43 96-96V208c0-26.5-21.5-48-48-48H336V112C336 50.1 285.9 0 224 0S112 50.1 112 112v48zm24 48a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm152 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"/>
                </svg>
                {% if cartItemCount > 0 %}
                    <span class="cart-count">{{ cartItemCount }}</span>
                {% endif %}
            </a>
            <div id="burger_menu">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="#7c5f8a" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
                </svg>
            </div>
        </div>
    </div>
</header>

<nav id="nav">

  <ul class="d-flex">
  
    <li>
      <a href="{{ path('app_home') }}"> Accueil </a>
    </li>

    <li id="creations">
     
      <a href="{{ path('app_product_index') }}" id="all-products" class="dropdown-toggle"> Nos créations </a>
   
      <ul id="dropdown">
          <li> 
            <a href="{{ path('app_product_index') }}"> Voir tout </a>
          </li>
          {% for category in categories %}
          <li>
            <a href="{{ path('app_get_product_by_category', {id_category : category.id}) }}" class="category-select" data-category-id="{{ category.id }}"> {{category.title}} </a>
          </li>
          {% endfor %}
      </ul>
    </li>

    <li>
      <a href="{{ path('app_contact') }}"> Contact </a>
    </li>

    <li>
      <a href="{{path('app_comment')}}" > Livre d'or </a>
    </li>

    {% if is_granted('ROLE_USER') %}
      <li>
        <a href="{{ path('app_profile') }}"> Profil </a>
      </li>

      <li>
        <a href="{{ path('app_logout') }}"> Déconnexion </a>
      </li>

    {% else %}
      <li>
        <a href="{{ path('app_login') }}"> Connexion </a>
      </li>

      <li>
        <a href="{{ path('app_register') }}"> S'inscrire </a>
      </li>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
      <li>
        <a aria-label="backoffice" href="{{path('admin')}}"> BackOffice </a>
      </li>
    {% endif %}
  </ul>
 
</nav>