{# accueil, créations, contact/commande perso, livre d'or, à propos #}

{# BURGER MENU #}
  <div id="burger_menu">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#7c5f8a" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
  </div>


<nav id="nav">

  <ul class="d-flex">
  
    <li>
      <a href="{{ path('app_home') }}"> Accueil </a>
    </li>

    <li id="creations">
     
      <a href="{{ path('app_product_index') }}" id="all-products" class="dropdown-toggle"> Nos créations </a>
   
      <ul id="dropdown">
          <li> 
            <a href="{{ path('app_product_index') }}"> Voir tout </a>
          </li>
          {% for category in categories %}
          <li>
            <a href="{{ path('app_get_product_by_category', {id_category : category.id}) }}" class="category-select" data-category-id="{{ category.id }}"> {{category.title}} </a>
          </li>
          {% endfor %}
      </ul>
    </li>

    <li>
      <a href="{{ path('app_contact') }}"> Contact </a>
    </li>

    <li>
      <a href="{{path('app_comment')}}" > Livre d'or </a>
    </li>

    {% if is_granted('ROLE_USER') %}
      <li>
        <a href="{{ path('app_profile') }}"> Profil </a>
      </li>

      <li>
        <a href="{{ path('app_logout') }}"> Déconnexion </a>
      </li>

    {% else %}
      <li>
        <a href="{{ path('app_login') }}"> Connexion </a>
      </li>

      <li>
        <a href="{{ path('app_register') }}"> S'inscrire </a>
      </li>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
      <li>
        <a aria-label="backoffice" href="{{path('admin')}}"> BackOffice </a>
      </li>
    {% endif %}
  </ul>
 
</nav>