{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}
<section class="section">

    <h2 class="py-4 dark-purple">Confirmation de votre achat</h2>
    <p>Bonjour, <br> Merci pour votre achat. Voici les détails de votre commande :</p>

    <ul>
        <li>Numéro de facture : {{ invoiceNumber }}</li>
        <li>Date : {{ date|date('d-m-y') }}</li>
        <li>Montant total : {{ amount }} €</li>
    </ul>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in orderDetails %}
                    <tr>
                        <td>{{ detail.product.name }}</td>
                        <td>{{ detail.product.price }} €</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <p>Nous espérons vous revoir bientôt.</p>

</section>
{% endblock %}
